<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPewHdSNzYV4awSMJaVA8bV-rq1hXHG70</string>
	<key>GCM_SENDER_ID</key>
	<string>573001484147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.theBaker</string>
	<key>PROJECT_ID</key>
	<string>bakery-shop-6c3cd</string>
	<key>STORAGE_BUCKET</key>
	<string>bakery-shop-6c3cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573001484147:ios:193f8aa85554e4ed6c6706</string>
</dict>
</plist>